demo-dotnet-azure-blob-storage/.vs
demo-dotnet-azure-blob-storage/demo-dotnet-azure-blob-storage/bin
demo-dotnet-azure-blob-storage/demo-dotnet-azure-blob-storage/obj
demo-dotnet-azure-blob-storage/StorageManager/bin
demo-dotnet-azure-blob-storage/StorageManager/obj
